*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    animation: moverIzquierda 1s ease-in;
}

header{
    background: #DA4453;
 background: -webkit-linear-gradient(to right, #89216B, #DA4453);
 background: linear-gradient(to right, #89216B, #DA4453);
 min-height: auto; 
 width: 100%; 
 height: auto;
padding: 48px;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
align-items: center;
margin: auto;
justify-content: space-around;

}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    animation: moverArriba 1s ease-in;
}

.textos{
    width: 50%;
    color: #fff;
}

.textos h1{
    font-size: 40px;
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
}

.texto a{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: moverArriba 1s ease-in;
}

.wave{
    height: 100px;
    width: 100%;
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
}

@keyframes moverIzquierda{
    0%{
        opacity: 100;
        transform: translateX(-100px);
    }
}

100%{
    opacity: 1;
    transform: translate(0);
}

@keyframes moverDerecha{
    0%{
        opacity: 100;
        transform: translateY(100px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba{
    0%{
        opacity: 100;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
 
        
    }

}

@media (max-whidth:800px) {

}
@media (min-width:800px){

}
@media(min-width:320px) and (max-width: 768px) and (orientation: landscape ) {
    
}